[Unit]
Description=Timer to perform backup service every Friday at 01:00

[Timer]
OnCalendar=Friday 01:00
AccuracySec=1h
Unit=backup.service
Persistent=true

[Install]
WantedBy=timers.target
