[Unit]
Description=Timer to perform backup service every Friday at 01:00

[Timer]
OnCalendar=Friday 01:00
AccuracySec=1h
Persistent=true

[Service]
Type=simple
ExecStart=backup

[Install]
WantedBy=timers.target
