[Unit]
Description=use rsync to backup dirs to destination backup server, specified in config.sh

[Service]
Type=oneshot
ExecStart=/opt/backup/backup

[Install]
WantedBy=multi-user.target
