[Unit]
Description=Timer to perform backup service every day at 01:00

[Timer]
OnCalendar=*-*-*- 00:00:59
Persistent=true

[Install]
WantedBy=timers.target
